/* font-family: 'Outfit', sans-serif; */

body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);    
}

h3 {
    font-family: 'Outfit-700', sans-serif;
    color: hsl(218, 44%, 22%);
    margin: 20px 30px 20px;
    font-size: 15px;
    font-weight: bolder;
    line-height: 1.2rem;
}

p {
    font-family: 'Outfit-400', sans-serif;
    font-size: 12px;
    margin: 0 10%;
    font-weight: lighter;
    color: hsl(220, 15%, 55%);
    line-height: 1.2rem;
}

.qr-parent {
       
}

.qrcode-box {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50% , -50%);
   background-color: hsl(0, 0%, 100%);
   width: 260px;
   height: 400px;
   padding-top: 10px;
   border-radius: 10px;
   text-align: center;
}

.qr-img {
    width: 15rem;
    border-radius: 10px;
}

.attribution { 
    font-size: 11px; text-align: center;
    margin-top: 30px;
}

a {
    color: hsl(228, 45%, 44%);
    margin: 0;
    padding: 0;
}